.grid_12
  %h1 Everything else you need to know
  %p
    %img.shadow-large{:src => "/images/dewsall-fireplace.png"}
    %small
      &copy;
      %a{:href => "http://www.gemmawilliamsphotography.co.uk/blog/wedding-gems-dewsall-court-herefordshire-wedding-venue/", :target => "_blank"} Gemma Williams



  %h2 Russian wedding?
  %p
    Given that we were born in the Soviet Union, grew up in Russia, live in the UK and our guests are from ten different countries, we don't feel restricted by any traditions. On the contrary, we feel free to borrow bits and pieces from all over the world.
  %p
    Most of all, we want you to enjoy this day, so we'll do our best to make sure everyone has fun on the day.

  %h2 Car sharing
  %p
    If you have a spare seat in your car or if you need one, email Evgeny, he'll put you in touch with someone.

  %h2 Cameras
  %p
    We kindly ask you to trust our
    %a{:href => "http://www.dashacaffrey.com/"} amazing wedding photographer
    to capture every moment of the day and avoid using your own cameras or mobile phones too much.

  %h2 Parking
  %p
    If you are driving to Dewsall, you may have to park your car outside the premises because the parking space inside is limited.

  %h2 Minicabs
  %p
    We will have a few minicab companies numbers ready if you need a car to get to the hotel.

  %h2 Dresscode
  %p
    We are going to have a countryside wedding, so smart but not too formal attire will be most appropriate.

  %p
    It's not going to be a very formal wedding, we promise. Evgeny will be not be wearing a tuxedo, and Anna's dress will not have a Royal Cathedral Train.
  %p
    Dewsall is a countryside venue with amazing gardens and meadows around it, so wearing flat shoes (or at least having them with you just in case) will be wise.

  %h2 Stag &amp; Hen
  %p
    We haven't even started thinking about this yet. You're right, we probably should.

  %h2 Food allergies
  %p
    Please let us know if you have any food allergies or if you're vegeterian and we'll make sure there are suitable alternatives on the menu.

  %h2 Children
  %p
    We don't expect our guests to bring children, so there will be no facilities to keep them busy and happy. 

  %h2 Breakfast
  %p
    We don't want to have a heavy lunch after the reception (although light lunch will be served, of course), so please don't skip the breakfast on your way to Dewsall.