.grid_12<>
  %h1 Places to stay
  %p 
    If you are arriving on Saturday, it will be inconvenient to leave after dinner.
    There are several hotels and B&amp;Bs in the area that you will be able to stay at before driving home
    on Sunday morning.
  
    We have selected a few of them as suggestions but we leave the final choice and the reservation to you.      
.clear
.grid_6<>
  %h2 Pullastone B&amp;B
  %p
    The reviews on Trip Advisor are as good as they could possibly be and it's very close to the wedding venue.
    The only downside is that this place has only three rooms, so please book early (and let us know if it's already sold out).
  %p
    %a.more-link{:href => 'http://pullastone.com/', :target => "_blank"} Website
    %a.more-link{:href => "http://www.tripadvisor.co.uk/Hotel_Review-g1861877-d1167566-Reviews-Pullastone_B_B-Callow_Herefordshire_England.html", :target => "_blank"} TripAdvisor

.grid_6<>
  %img.right.shadow-large{:src => '/images/pullastone.png', :alt => "Pullastone B&amp;B"}<>
.clear
%hr
.grid_6
  %h2 The Old School B&amp;B
  %p
    Antiques and fine English furniture, as well as a welcome tray with homemade biscuits, are highlights of this small B&amp;B. Parking comes free and if you need to tweet about the wedding, Wi-Fi is included in the price too.

  %p    
    %a.more-link{:href => "http://www.tripadvisor.co.uk/Hotel_Review-g1849706-d643622-Reviews-The_Old_School_B_B-Much_Birch_Hereford_Herefordshire_England.html", :target => "_blank"} TripAdvisor
.grid_6
  %img.right.shadow-large{:src => '/images/theoldschool.png', :alt => "Pullastone B&amp;B"}<>
.clear
%hr
.grid_6
  %h2 Pilgrim Country House Hotel
  %p
    If you need to stay online on Sunday morning for whatever reason, consider booking one of twenty well-appointed rooms with free wi-fi at this hotel. Great TripAdvisor reviews from almost three hundred guests!
  %p
    %a.more-link{:href => "http://www.pilgrimhotel.co.uk/index.htm", :target => "_blank"} Website
    %a.more-link{:href => "http://www.tripadvisor.co.uk/Hotel_Review-g1849706-d279930-Reviews-The_Pilgrim_Hotel-Much_Birch_Hereford_Herefordshire_England.html", :target => "_blank"} TripAdvisor
.grid_6
  %img.right.shadow-large{:src => '/images/pilgrim.png', :alt => "Pilgrim Hotel"}
.clear
%hr
.grid_6
  %h2 Brandon Lodge
  %p
    Within a short drive from Dewsall, this hotel offers ten en-suite rooms. A freshly cooked full English breakfast, wi-fi and parking are all included.
  %p
    %a.more-link{:href => "http://www.brandonlodge.co.uk/", :target => "_blank"} Website
    %a.more-link{:href => "http://www.tripadvisor.co.uk/Hotel_Review-g1861856-d245371-Reviews-Brandon_Lodge-Grafton_Hereford_Herefordshire_England.html", :target => "_blank"} TripAdvisor
.grid_6
  %img.right.shadow-large{:src => '/images/brandon-lodge.png', :alt => "Brandon Lodge"}
