.grid_12
  %p
    %img.shadow-large{:alt => "Anna and Evgeny", :src => "images/barbados-kiss.png"}/
  %h1 Hooray, we are getting married!
  %p
    We're as surprised as you are that we actually got this far &mdash; picked the date and made a website &mdash; given how lazy and unorganised we are (sorry, never got around to printing the invitations!). Please join us in late June for a day of celebration and a night of modern dancing!
