.grid_12
  %p
    %img.shadow-large{:alt => "Anna and Evgeny", :src => "images/barbados-kiss.png"}/
  %h2 Hooray, we are getting married!
  %p
    We're as surprised as you are that we actually got this far &mdash; picked the date, sent the invitations and made a website &mdash; given how lazy and unorganised we are. So, if you've got nothing better to do in late June, please join us for a day of celebration and a night of modern dancing!
