<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Luxury by Cudazi</title>
    
    <link rel="stylesheet" type="text/css" href="css/960.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/superfish-horizontal.css" />
    
    <meta name="keywords" content="luxury theme" />
    <meta name="description" content="Luxury theme by cudazi for ThemeForest.net" />
    <meta name="robots" content="index,follow" />
    
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    
</head>
<body>

    = yield
    
  
    <div id="footer" class="clearfix">
        <div class="container_12">
            <div class="grid_6">
                <p>Copyright 2010 Your Name Here - Design by <a href="http://cudazi.com/" title="cudazi web design">Cudazi</a> for <a href="http://themeforest.net/user/cudazi/?ref=cudazi">ThemeForest.net</a></p>
            </div><!--//grid6-->
            <div class="grid_6">
        <ul class="clean social softbutton right">
                    <li><a href="#" title="RSS Feed"><img src="images/social_media/rss.png" alt="icon" /></a></li>
                    <li><a href="#" title="View Linkedin Profile"><img src="images/social_media/linkedin.png" alt="icon" /></a></li>
                    <li><a href="#" title="View YouTube Channel"><img src="images/social_media/youtube.png" alt="icon" /></a></li>
          <li><a href="#" title="Follow us on Twitter"><img src="images/social_media/twitter.png" alt="icon" /></a></li>
                    <li><a href="#" title="Friend us on Facebook"><img src="images/social_media/facebook.png" alt="icon" /></a></li>
                </ul>
            </div><!--//grid6-->
        </div><!--//container_12-->
    </div><!--//footer-->  
  
    
</div><!--//outer-->


<!-- INSERT ANALYTICS -->


<!--[if lt IE 8]><script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script><![endif]-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/ColaborateLight_400.font.js"></script>
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script>

<script type="text/javascript" src="js/jquery.cycle.min.js"></script>
<script type="text/javascript" src="js/general.js"></script>

</body>
</html>
