.page_12
  %h1 Registry
  %p
    First of all, we really appreciate you coming to our wedding. Many of you will travel from other countries, while the others
    are undoubtedly looking forward to the scenic three hours drive along M4 and paying for the accommodation. We understand and appreciate that this is a big committment on your part. Therefore, we expect you to not bring any gifts. Just turn up and enjoy the day.
  %p
    At the same time, we understand that some of you will choose to make us a gift anyway (and may even pretend the paragraph above doesn't exist). Therefore, we decided to set up a wedding registry. If you absolutely can't attend a wedding without a gift, we ask you to  use the wedding registry and not bring anything material at all.
  %p 
    If you have ever been to our home, you noticed that we're not into buying things &mdash;
    we never got around even to buying a sofa for our living room (even though we tried once and it didn't go through the front door but I digress). However, we really enjoy travelling, so if you absolutely must make us a gift, please take a look at our honeymoon wedding registry.
  %p
    %a.more-link{:href => "#"} Honeymoon Wedding Registry