.grid_12
  %h1 RSVP  
  %p
    Please RSVP to
    %a{:href => "mailto:RSVP@AnnaAndEvgenyGetMarried.com"} RSVP@AnnaAndEvgenyGetMarried.com
    by 30 April.
  %p
    We aim to have a very small wedding, so we kindly ask you to leave any additional guests at home.

