.grid_6
  %h1 RSVP  
  %p
    Kindly reply by the thirtieth of April by emailing  
  %p
    %a.more-link{:href => "mailto:RSVP@AnnaAndEvgenyGetMarried.com"} RSVP@AnnaAndEvgenyGetMarried.com
  %p
    We will particularly appreciate if you tell us two things that you would like to see at our wedding or have enjoyed at other weddings,
    e.g. examples of games or entertainment etc.

  %p
    We aim to have a very small wedding, so we kindly ask you to leave any additional guests at home.

.grid_6
  %img.shadow-large{:src => "/images/dewsall-table.png", :alt => "Cats"}
  %small
    &copy;
    %a{:href => "http://www.dewsall.com"} Dewsall
.clear