.grid_12
  %h1 Schedule  
  %p
    The wedding will take place on 28-30th June 2013 with the ceremony being held on Saturday, 29th June.
  %p
    Dewsall, our
    = succeed ',' do
      %a{:href => 'http://www.dewsall.com', :target => "_blank"} beautiful wedding venue
    isn't big enough for everyone to stay overnight, unfortunately.
    Therefore, we have invited some guests, most of whom are coming from overseas and speak Russian,
    to arrive on Friday for a two night stay. All other guests who mostly from the UK and don't speak Russian
    are cordially invited to join us on Saturday morning and stay as late as they please. There are
    %a{:href => "/hotels"} several places to stay
    overnight in the area.
  %p
    If your invitation mentions that you're invited to stay for the weekend, we'll be in touch with you to discuss
    the transfer to Dewsall. If you're arriving on Saturday, please make your own travel arrangements (it may be a good idea to share cars).

  %p
    %img.shadow-large{:alt => "Dewsall", :src => "images/dewsall-road.png"}/ 
    %small
      &copy;
      %a{:href => "http://www.dewsall.com"} Dewsall


  %h2 Friday, 28th June 2013
  %p
    We will enjoy a simple supper and celebrate (what a coincidence!) the 38th wedding anniversary of Evgeny's parents.
  %h2 Saturday, 29 June 2013
  %p
    If you're arriving on Saturday, please aim to be at Dewsall no later than 12pm to make sure you have time to make yourself comfortable.
  %p
    %strong 13:00 (tbc)
    Ceremony
    %br
    %strong Then
    there will be reception and photo taking opportunities. Light snacks and canap&eacute;s will be served.
    %br
    %strong Followed by
    garden games and other entertainment (ideas are very welcome). 
    %br
    %strong 18:00
    Three-course dinner.
    %br 
    %strong After dinner
    we'll have some rest around the fireplace and then dance the night away!

  %h2 Sunday, 30 June 2013
  %p
    If you're staying at Dewsall, there will be a continental breakfast served before we all leave around noon.
    
    
