.grid_12
  %h1 Venue
  %p
    Our wedding will take place at 
    %a{:href => "http://www.dewsall.com", :alt => "Dewsall Court", :target => "_blank"} Dewsall Court
    in Herefordshire, a stylish family home. Weather permitting, the ceremony will take
    place in the garden outside the house. If we must, we'll hold the ceremony indoors.
  %p
    %img.shadow-large{:alt => "Dewsall", :src => "images/dewsall-mansion.png"}/
    %small
      &copy;
      %a{:href => "http://www.gemmawilliamsphotography.co.uk/blog/wedding-gems-dewsall-court-herefordshire-wedding-venue/", :target => "_blank"} Gemma Williams

  %h2 Address
  %p
    Dewsall Court,
    Callow,
    Hereford,
    United Kingdom,
    HR2 8DA.

  %h2 By car
  %p
    Take M4, or A40, or M40, it will take around 3 hours in any case if you don't get lost (it happened to Evgeny when he was driving there for the first time). Google has
    %a{:href => "https://maps.google.co.uk/maps?saddr=london&daddr=hr2+8da&hl=en&sll=51.528642,-0.101599&sspn=0.593777,1.672668&geocode=FYfwEQMdPQ3-_yl13iGvC6DYRzGZKtXdWjqWUg%3BFTV0GQMd6AfW_ynZER2EVzVwSDEq4Q6hgZMbFQ&mra=ls&t=m&z=9"} driving directions
    for your convenience.
  %h2 By train
  %p
    A June timetable is not available yet but there should be a train from Paddington to Hereford that will take about 3 hours. Then you can take a taxi: Dewsall is only 6 miles away from the station.
  %h2 By helicopter
  %p
    For the venture capitalists among the guests, there is a helicopter pad at Dewsall.
  %h2 Map
  .shadow-large
    %iframe{:frameborder => "0", :height => "480", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=Dewsall+Court,+Callow+HR2+8DA&aq=0&oq=dewsall+court,+hr2+8da&sll=51.528642,-0.101599&sspn=0.593777,1.672668&ie=UTF8&hq=Dewsall+Court,&hnear=Callow+HR2+8DA,+United+Kingdom&t=m&ll=52.281602,-2.686157&spn=1.61313,5.152588&z=8&iwloc=A&output=embed", :width => "940"}

