.grid_12
  %h1 The venue
  %p
    Our wedding will take place at Dewsall Court in Herefordshire, a stylish family home. Weather permitting, the ceremony will take
    place in the garden outside the house. If we must, we'll hold the ceremony indoors.
  %p
    %img.shadow-large{:alt => "Dewsall", :src => "images/dewsall-fireplace.png"}/

  %h2 Address
  %p
    Dewsall Court,
    Callow,
    Hereford,
    United Kingdom,
    HR2 8DA  
  .shadow-large
    %iframe{:frameborder => "0", :height => "480", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=Dewsall+Court,+HR2+8DA&aq=&sll=52.018708,-2.713265&sspn=0.073421,0.209084&ie=UTF8&hq=&hnear=Dewsall+Court,+Herefordshire,+United+Kingdom&t=m&ll=51.996719,-2.750702&spn=0.405862,1.288147&z=10&iwloc=A&output=embed", :width => "940"}